body {
    background-image: url("../images/externalBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    backdrop-filter: blur(8px) saturate(150%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    border: 1px solid rgba(20, 20, 20, 0.8);
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 1s;
}

.container:hover {
    background-color: rgba(255, 255, 255, 1);
}

#headerTitle {
    color: rgb(160, 200, 180);
    position: absolute;
    text-align: center;
    top: 1px;
    font-size: 55px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 32px;
    width: 256px;
    margin-bottom: 16px;
    border-radius: 4px;
    border-color: rgb(244, 244, 244);
}

button {
    background-color: #3195ff;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border-color: #3195ff;
    cursor: pointer;
    transition: opacity 0.2s;
    margin-bottom: 10px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

#signIn, #tipForm {
    color: #71b6ff;
    text-decoration: none;
    margin: 31px;
}

#signIn:hover, #tipForm:hover {
    text-decoration: underline;
}