body {
    background-image: url("../images/internalBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#headerTitle {
    color: rgb(180, 100, 180);
    position: absolute;
    text-align: center;
    top: 1px;
    font-size: 55px;
}

#card {
    padding: 150px;
    backdrop-filter: blur(8px) saturate(150%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    border: 1px solid rgba(20, 20, 20, 0.8);
}


textarea {
    width: 400px;
    height: 300px;
}