@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    background: url("../images/innerBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: rubik, sans-serif;
    margin: 0px;
}

textarea {
    resize: none;
    overflow-y: auto;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: rgb(242, 242, 242);
}

#container {
    display: flex;
}

h1 {
    color: rgb(204, 85, 104);
    font-size: 250%;
    margin-right: 10px;
    margin-left: 10px;
}

#caseInfo {
    flex-grow: 1;
    justify-content: space-evenly;
    align-content: flex-start;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 2vh;
    margin-left: 17.5vw;
    border-radius: 20px;
    backdrop-filter: blur(12px) saturate(150%);
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s;
}

#sidebar {
    position: fixed;
    backdrop-filter: blur(12px) saturate(150%);
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 96vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
    border-radius: 10px;
}


#openCases, #closedCases {
    width: 12vw;
    height: 30vh;
    margin-bottom: 10px;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgb(30, 30, 30);
}

#openCases::-webkit-scrollbar {
    width: 5px;
}

#openCases::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(170, 170, 170);
}

#openCases::-webkit-scrollbar-thumb:hover {
    background-color: rgb(144, 144, 144);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(170, 170, 170);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(144, 144, 144);
}

label {
    display: block;
    font-size: 150%;
    padding-top: 2vh;
    padding-bottom: 1vh;
    margin-bottom: 10px;
    color: rgb(222, 222, 222);
}

#inputComp {
    border-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2vh;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}

#inputComp:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#incidentType {
    flex-grow: 1;
    width: 70vw;
    height: 4vh;
}

#caseID {
    flex-grow: 1;
    width: 70vw;
    height: 4vh;
}

#time {
    flex-grow: 1;
    width: 70vw;
    height: 4vh;
}

#location {
    flex-grow: 1;
    width: 70vw;
    height: 4vh;
}

#contact {
    flex-grow: 1;
    width: 70vw;
    height: 4vh;
}

#description {
    flex-grow: 1;
    width: 70vw;
    height: 40vh;
}

#status {
    flex-grow: 1;
    width: 70vw;
    height: 4vh;
}

#caseApproval {
    flex-grow: 1;
    width: 70vw;
    height: 4vh;
}

#rightContainer {
    background: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#buttonContainer {
    position: absolute;
    bottom: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sideBarLabel {
    color: white;
    font-weight: 900;
}

button {
    background: none;
    border-style: none;
    font-family: rubik;
    font-weight: 600;
    transition: color 0.1s;
}

button:hover {
    color: rgb(150, 150, 150);
}

button:active {
    color: rgb(190, 190, 190);
}

#logout, #toggleCase {
    background-color: #ddd;
    border-color: rgba(150, 150, 150);
    box-shadow: 0 0 8px rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    width: 10vw;
    height: 6vh;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

#logo {
    height: 10vh;
    width: 10vh;
    opacity: 0.8;
    transition: box-shadow 2s, opacity 2s;
    margin-right: 10px;
    margin-left: 10px;
}

#logo:hover {
    box-shadow: 0 0 300px white;
    opacity: 0;
}

#welcomeText {
    display: flex;
    margin-bottom: 10px;
}

#plusRep, #minusRep {
    color: rgb(150, 150, 150);
}

#plusRep:hover, #minusRep:hover {
    color: rgb(200, 200, 200);
}

#plusRep:active, #minusRep:active {
    color: rgb(250, 250, 250);
}